extends layout

block content
    h1= title
    div#errors(style:{display:block;})
    form(id='treeForm' action="/resource/resource/trees/" method="POST")
        div.form-group
            label.treeAttr(for='treeName') tree name
            input#treeName(type='text' name='treeName')
        div.form-group
            label.treeAttr(for='fruitProduced') fruit produced
            input#fruitProduced(type='text' name='fruitProduced')
        div.form-group
            label.treeAttr(for='ageOfTree') age of tree
            input#ageOfTree(type='number' name='ageOfTree')
        input(type="submit")

    script.
        document.forms['treeForm'].addEventListener('submit', (event) => {
            event.preventDefault();
            // TODO do something here to show user that form is being submitted
            fetch(event.target.action, {
                method: 'POST',
                body: new URLSearchParams(new FormData(event.target)) // event.target is the form
            }).then((resp) => {
              document.getElementById("errors").style.display="block"
              return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
              if(body.name){
                document.getElementById("errors").innerHTML=`${body.name}  \n ${body.message}\n`;
                alert("Save Failed")
              }else{
                 alert("Save succeded")
              }
                alert("Save succeded")
                // TODO handle body
            }).catch((error) => {
                // TODO handle error
                alert("Save failed " + error )
            });
        });
